


.blog {
    display: flex;
    max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  gap: 20px;
}

.formularioDeNoticias {
   
    flex-basis: 25%;
    display: grid;
    padding: 10px;
    margin-right: 20px;
    max-height: 75vh;


}

.cajaDeNoticias {
    flex-basis: 75%;
    padding: 10px;
}

.noticias {
    
    padding-bottom: 10px;
    height: 100vh;
    overflow-y: scroll;
    

}



.formularioDeNoticias input[type="text"],
.formularioDeNoticias input[type="date"],
.formularioDeNoticias textarea{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.formularioDeNoticias textarea{
    width: 100%;
    height: 600px;
    resize: vertical;
    vertical-align: top;
   text-align: justify;
    

}



.boton-publicar {

    
    width: 30%;
  background-color: #075e0d;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
}